.fadePageContent-enter {
  opacity: 0;
}

.fadePageContent-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fadePageContent-exit {
  opacity: 1;
}

.fadePageContent-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.contentRootMain{
  z-index: 0;
  text-align: center;
  height: 100%;
  position: relative;

  .titleMain{
    z-index: 10;
    margin: 0;
    padding-top: 15%;
    font-size: 350%;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px gray;
  }
  .descriptionMain{
    z-index: 10;
    font-size: 150%;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px gray;
  }
  .swipeText{
    z-index: 10;
    font-size: 80%;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px gray;
  }
}