.fadePageContent-enter {
  opacity: 0;
}

.fadePageContent-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fadePageContent-exit {
  opacity: 1;
}

.fadePageContent-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.contentRoot{
  z-index: 0;
  text-align: center;
  height: 100%;
  position: relative;

  .title{
    z-index: 10;
    margin: 0;
    padding-top: 15%;
    font-size: 350%;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px gray;
  }
  .description{
    z-index: 10;
    font-size: 150%;
    color: rgb(255, 255, 255);
    margin-bottom: 5rem;
    text-shadow: 1px 1px gray;
  }
      .link{
        position: relative;
        text-align: center;
        .image{
          height: 12vh;
          transition: height 500ms ease;
        }
        .gotoLink{
          border-radius: 2rem;
          width: fit-content;
          height: fit-content;
          margin: auto;
          opacity: 0;
          transition: opacity 500ms ease;
          .linkHref{
            text-decoration: none;
            color: white;
            p{
              padding: 1rem;
            }
          }
        }
      }

      .link:hover{
        .image{
          height: 16vh;
        }
        .gotoLink{
          opacity: 1;
        }
      }

  .backgroundImage{
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    transition: width 500ms ease;
    z-index: -5;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    z-index: -2;
  }
}