.navbar-container{
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;

    .nav-item{
        margin: auto;
        padding-top: 20px;
        padding-bottom: 10px;
        >a {
            text-decoration: none;
            color: rgb(136, 136, 136);
        }
    }

    .nav-item-active{
        >a{
            color: rgb(0, 0, 0);
        }
    }
}