.App{
  height: 100%;

  .content-dark{
    height: 100%;
    background-color: rgb(38, 40, 48);
  }

  .content-light{
    height: 100%;
    background-color: rgb(255, 255, 255);
  }

  .carousel{
    height: 100%;
    >.sw{
      height: 100%;
      >div{
        height: 100%;
        >div{
          height: 100%;
          >div{
           height: 100%;
        }
        }
      }
    }
  }
  
  .stepper{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 1rem;
    .MuiMobileStepper-progress{
      width: 100%;
      margin: auto;
    }
  }
}