.App{
  height: 100%;
  width: inherit;

  .content-dark{
    height: 100%;
    width: inherit;
    // background-color: rgb(38, 40, 48);
    
  }

  .content-light{
    height: 100%;
    width: inherit;
    // background-color: rgb(38, 40, 48);
  }
}