.skill{
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    background-color: white;
    will-change: transform;

    li{
        filter: blur(1px);
        -webkit-filter: blur(1px);
        transition: filter 0.6s ease-in-out
    }

    h3{
        filter: blur(1px);
        -webkit-filter: blur(1px);
        transition: filter 0.6s ease-in-out
    }
}

.skill:hover {
    box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.945);
}

.skill-collection{
    padding-bottom: 70px;
    .header{
        width: 100%;
        text-align: center;
        margin: 0;
    }
}

.picture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;  
    width: 50%;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    border-radius: 5%;
    margin: auto;
    transition: filter 0.6s ease-in-out
}

.skill:hover .picture{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.skill:hover li{
    filter: blur(0px);
    -webkit-filter: blur(0px);
} 

.skill:hover h3{
    filter: blur(0px);
    -webkit-filter: blur(0px);
} 